
/* Colors: http://www.google.com/design/spec/style/color.html */
#blue {
	background-color: #E8F5E9;/* Light Blue: 100 #B3E5FC */
	width: 100%;
}

#blue .card {
	background-color: #40C4FF;
}

#blue .weapon {
	background: none no-repeat scroll 50% 50% transparent;
	background-size: contain;
	height: 450px;
	position: absolute;
	width: 450px;
}

#blue nav {
	/*background-color: #81C784;*/
    width: 100%;
}
#blue .nav-wrapper {
	/*border: 2px solid #388E3C;
	border-left: 0px;*/
    background-color: #000;
	display: inline-block;
	position: relative;
	width: 5.71194%;
    height: 50px;
    margin-left: 10px
}

#blue .nav-wrapper a {
	background: none no-repeat scroll 50% 50%;
	background-size: contain;
	position: absolute;
	top: 0;
	right: 0;
	bottom: -5px;/* Don't ask */
	left: 0;
}
#blue .nav-wrapper a:hover {
	background-color: #C8E6C9;
}

#blue .container {
	height: 90%;
	position: relative;
}
#blue .column {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
}
#blue .column:nth-child(2n+1) { left: 0; }
#blue .column:nth-child(2n) { right: 0; }
#blue .column .image {
	background: none no-repeat scroll 50% 50% transparent;
	background-size: contain;
	height: 50%;
}
#blue .column .specs {
    position: relative;
	height: 400px;
}
#blue .column .specs #canvasWeaponSpecs {
	height: 100%;
	width: 100%;
}
#blue .column .text {
	padding: 20px;
}
#blue .column .text h2 {}
#blue .column .text .type {
	font-style: italic;
}
#blue .column .text .desc {
	font-size: 1.2em;
}
