
/* Colors: http://www.google.com/design/spec/style/color.html */
#green {
	background-color: #B2DFDB;/* Teal: 100 */
	width: 100%;
}

#green .zombie {
	background: none no-repeat scroll 0 0 transparent;
	background-size: contain;
	height: 450px;
	position: absolute;
	width: 450px;
}



