
/* Colors: http://www.google.com/design/spec/style/color.html */
#green {
	background-color: #B2DFDB;/* Teal: 100 */
	width: 100%;
}

#green .card {
	background-color: #00BFA5;
}

#green .zombie {
    background: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 150px;
    background-color: rgb(0, 105, 92);
    height: 100px;
    width: 100px;
    margin-top: 20px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    margin-top: 15px;
}

#green .zombie-body {
    display: inline-block;
    height: 75%;
    background-color: #4DB6AC;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 30%;
}

#green .zombie-body-left {
    float: left;
}

#chart-green-left {
    height: 100%;
    width: 100%;
}

#green #chart-green-middle {
    width: 100%;
    height: 100%;
}

#green #chart-green-right {
    width: 100%;
    height: 100%;
}

#green .zombie-body-right {
    float: right;
}

#green .zombie-body-middle {
    margin: 0 auto;
    display: block;
}

#green .zombie-title h3 {
    color: white;
    font-size: 2.0em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#green .zombie-title {
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    background-color: #00796B;
    height: 10%;
}

#green .zombie-text {
    width: calc(100% - 30px);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(20% - 20px);
    margin: 0;
}

#green .zombie-text p {
    margin: 0;
}

#green .zombie-wrapper {
    color: #FF9800;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(70% - 135px);
    position: relative;
}

