
/* Colors: http://www.google.com/design/spec/style/color.html */
#red {
	background-color: #FFCDD2;/* Red: 100 */
	width: 100%;
}

#red p.card {
	background-color: #FF5252;/* Red: A200 */
	border-radius: 2px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	color: #FFF;
	padding: 16px;
	position: absolute;
	width: 250px;
}
#red p.card:nth-child(2n+1) {
	top: 30%;
}
#red p.card:nth-child(2n) {
	bottom: 30%;
}
