
/* Colors: http://www.google.com/design/spec/style/color.html */
#yellow {
	background-color: #FFE0B2;/* Orange: 100  */
	width: 100%;
}

.chart-body {
    width: 100%;
    position: absolute;
    bottom: 60px;
    
    /* Vertical centering */
    top: 50%;
    left: 0;
    margin-top: -150px;
}

.pie-center {
    font-weight: 400;
    position: absolute;
    color: black;
    font-size: 1.2em;
    top: calc(50% - 14px);
    left: calc(50% - 36px);
}

.subtext-body p {
    text-align: center;
}

.yellow-title {
    font-weight: 300;
    font-size: 3.2em;
    text-align: center;
}

#chart-bar-1 {
    width: 100%;
    height: 100%;
}

#chart-bar-middle {
    width: 100%;
    height: 100%;
}

#chart-pie-1 {
    width: 100%;
    height: 100%;
}

#chart-bar-2 {
    width: 100%;
    height: 100%;
}

.chart-title {
    border-radius: 5px 5px 0px 0px;
    color: white;
    height: 15%;
    text-align: center;
    background-color: #EF6C00;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 225%;
}

.chart-wrapper {
    color: #FF9800;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;
    width: calc(100% - 20px);
    height: calc(70%);
}

.chart-wrapper-bar {
    height: calc(85% - 50px);
    padding-top: 40px;
    padding-bottom: 10px;
}

.chart-wrapper-pie {
    height: calc(85% - 20px);
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 5%;
  padding-top: 15%;
  top: 0;
}
.doughnut-legend li {
  color: black;
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.line-legend {
  list-style: none;
  position: absolute;
  right: 3%;
  padding-top: 14%;
  top: 0;
}
.line-legend li {
  color: black;
  display: inline;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  margin-left: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.line-legend li:hover {
  background-color: #fafafa;
}
.line-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.bar-legend {
  list-style: none;
  position: absolute;
  right: 5%;
  padding-top: 10%;
  top: 0;
}
.bar-legend li {
  color: black;
  display: inline;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  margin-left: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.bar-legend li:hover {
  background-color: #fafafa;
}
.bar-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.chart-container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    background-color: #FFCC80;
    position: relative;
    height: 300px;
    width: 420px;
}

.chart-container-middle {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 39%;
}

.chart-container-pie {
    height: 300px;
    width: 420px;
    float: right;
}

