
/* Colors: http://www.google.com/design/spec/style/color.html */
#yellow {
	background-color: #FFE0B2;/* Orange: 100 */
	width: 100%;
}

.yellow-title {
    font-weight: 300;
    font-size: 3.2em;
    text-align: center;
}
